<div class="container"
    style="margin-top: 15px; margin-bottom: 15px; background-color: white; border: solid 1px rgb(180, 30, 38); border-radius: 15px; width: 1110px;">
    <div style="text-align: center; color: rgb(180, 30, 38);margin-top: 15px;margin-bottom: 15px;">
        <h2>Multiplicación Arábiga</h2>
    </div>
    <div class="container" style="text-align: center;">
        <div style="align-content: center;margin-bottom: 10px;" class="form-inline">
            <input placeholder="Primer Número" type="text" id="numeroA" name="numeroA" (keypress)="numberOnly($event)">
            <p style="color: red;margin: 10px;">X</p>
            <input placeholder="Segundo Número" type="text" id="numeroB" name="numeroB" (keypress)="numberOnly($event)">
            <p style="color: red;margin: 10px;">=</p>
            <input placeholder="Resultado" type="text" id="resultado" name="resultado" readonly>
        </div>
        <div>
            <input type="file" id="customFile" style="width: 80%;" accept="text/plain" style="text-align: center;margin-bottom: 10px;"
                (change)="handleFileInput($event.target.files)" />
        </div>
        <div style="text-align: center;">
            <button id="btnProcesar" name="btnProcesar" (click)="calcularResultado()" class="btn btn-primary"
                style="margin-bottom: 10px;">Calcular</button>
            <div style="color: red; text-align: center; font-size: 20px;">
                {{mensaje}}
            </div>
        </div>
    </div>
</div>