.box {
    width: 150px;
    height: 100px;
    background: rgb(56, 56, 56);
    margin: 0px 10px;
    padding: 8px;
    color: white;
    text-align: center;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px rgb(56, 56, 56);
    z-index: 2;
    background-color: rgb(180, 30, 38);
    text-align: center;
}