<div class="container">
    <div class=" form-inline" style="background: rgb(56, 56, 56); justify-content: center;">
        <a routerLink="/inicio" style="text-decoration: none;">
            <div class="box">
                <i class="fas fa-home fa-2x my-2"></i>
                <p>Inicio</p>
            </div>
        </a>
        <a routerLink="/inicio" style="text-decoration: none;">
            <div class="box">
                <i class="fas fa-divide fa-2x my-2"></i>
                <p>División</p>
            </div>
        </a>
        <a routerLink="/inicio" style="text-decoration: none;">
            <div class="box">
                <i class="fas fa-dice-two fa-2x my-2"></i>
                <p>Cuadrado Mágico</p>
            </div>
        </a>
        <a routerLink="/inicio" style="text-decoration: none;">
            <div class="box">
                <i class="far fa-times-circle fa-2x my-2"></i>
                <p>Multiplicación</p>
            </div>
        </a>
        <a routerLink="/inicio" style="text-decoration: none;">
            <div class="box">
                <i class="fas fa-search fa-2x my-2"></i>
                <p>Anagrama</p>
            </div>
        </a>
    </div>
</div>